trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

variables:
  - group: variables

stages:
- stage: Dev
  displayName: "Platform DEV"
  jobs:
  - job: TerraformDev
    displayName: "Terraform Init + Validate + Plan"
    pool:
      vmImage: ubuntu-latest
    steps:
      - checkout: self

      - task: TerraformInstaller@1
        inputs:
          terraformVersion: latest

      - task: TerraformCLI@2
        displayName: "Terraform Init"
        inputs:
          command: 'init'
          workingDirectory: '$(working_dir)'
          backendType: 'azurerm'
          backendServiceArm: 'TestV2'                    
          ensureBackend: true
          backendAzureRmResourceGroupName: '$(tf_state_rg)'
          backendAzureRmStorageAccountName: '$(tf_state_storage_account)'
          backendAzureRmContainerName: '$(tf_state_container)'
          backendAzureRmKey: '$(tf_state_key)'
          allowTelemetryCollection: true
        env:
          ARM_USE_OIDC: true
          ARM_CLIENT_ID: $(servicePrincipalId)
          ARM_TENANT_ID: $(tenantId)
          ARM_SUBSCRIPTION_ID: $(subscriptionId)

      - task: TerraformCLI@2
        displayName: "Terraform Validate"
        inputs:
          command: 'validate'
          workingDirectory: '$(working_dir)'
          environmentServiceNameAzureRM: 'TestV2'

      - task: TerraformCLI@2
        displayName: "Terraform Plan"
        inputs:
          command: 'plan'
          workingDirectory: '$(working_dir)'
          environmentServiceNameAzureRM: 'TestV2'
          commandOptions: '-var-file=$(tfvars_file)'
        env:
          ARM_USE_OIDC: true
          ARM_CLIENT_ID: $(servicePrincipalId)
          ARM_TENANT_ID: $(tenantId)
          ARM_SUBSCRIPTION_ID: $(subscriptionId)
          ARM_CLIENT_SECRET: $(azureServicePrincipalKey)

