trigger:
  branches:
    include:
      - main

pr:
  branches:
    include: 
      - main

variables:
  tf_state_rg: sttfldatatfstate-rg
  tf_state_storage_account: sttfldatatfstate
  tf_state_container: sttfldatatfstate-container

stages:
- stage: Dev
  displayName: "Platform DEV Validation"
  jobs:
  - job: TerraformValidate
    displayName: "Terraform Init + Validate + Plan"
    pool:
      vmImage: ubuntu-latest
    steps:
      - checkout: self
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: latest
      - script: |
          cd infra/live/platform
          terraform init \
            -backend-config="resource_group_name=$(tf_state_rg)" \
            -backend-config="storage_account_name=$(tf_state_storage_account)" \
            -backend-config="container_name=$(tf_state_container)" \
            -backend-config="key=tfl-data/platform-dev.tfstate" \
            -reconfigure
          terraform fmt -check
          terraform validate
          terraform plan \
            -var-file=../../env/dev/platform/dev.tfvars \
        displayName: "Terraform Validation DEV"
