trigger:
  branches:
    include:
      - main

pr:
  branches:
    include:
      - main

stages:
- stage: Dev
  displayName: "Platform DEV Validation"
  jobs:
  - job: TerraformValidate
    displayName: "Terraform Init + Validate + Plan"
    pool:
      vmImage: ubuntu-latest
    steps:
      - checkout: self
      - task: TerraformInstaller@1
        inputs:
          terraformVersion: latest
      - task: TerraformCLI@0
        displayName: "Terraform Init + Validate + Plan"
        inputs:
          provider: 'azurerm'
          command: 'plan'
          workingDirectory: 'infra/live/platform'
          environmentServiceNameAzureRM: 'TestV2'
          ensureBackend: true
          backendType: 'azurerm'
          backendServiceArm: 'TestV2'
          commandOptions: '-var-file=../../env/dev/platform/dev.tfvars'
